* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    height: 100vh;
}

[class*="circle"] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: loader 2s ease infinite;
    box-shadow: inset -1px -1px 20px -10px rgba(0, 0, 0, .5);
    margin-right: 80px;
}

.circle:last-of-type {
    margin-right: 0;
}

.circle1 {
    animation-delay: 100ms;
}

.circle2 {
    animation-delay: 200ms;
}

.circle3 {
    animation-delay: 300ms;
}

.circle4 {
    animation-delay: 400ms;
}

.circle5 {
    animation-delay: 500ms;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }

    25% {
        background-color: yellow;
    }

    50% {
        transform: scale(5);
        background-color: blue;
    }

    75% {
        background-color: cadetblue;
    }

    100% {
        transform: scale(1);
    }
}